# .vs klasörü, Visual Studio'nun proje dosyalarını içerir
.vs/

# Derleme çıktıları
bin/
obj/

# NuGet Paketleri
*.nupkg

# Node modules
node_modules/

# Log files
npm-debug.log

# Local environment variables
.env

# Mac system files
.DS_Store
